@import "./variable.scss";
@import "./reset.scss";
@import "./animate.scss";

//#region all
html,
body {
  overflow: hidden;
  background-color: #f1f5f8;
}

.cva--deco {
  background: linear-gradient(currentColor 0 0) 0 100% / var(--d, 0) 1px
    no-repeat;
  transition: 0.5s;
  &:hover {
    --d: 100%;
  }
}

//#endregion

//#region medium screens
@media (max-width: $medium) {
}
//#endregion

//#region Tablet
@media (max-width: $tablet) {
}
//#endregion
