@import "./variable.scss";
@import "./reset.scss";
@import "./animate.scss";

//#region all
html,
body {
  overflow: hidden;
  background-color: #ffffff;
}

.is-hero {
  background-image: linear-gradient(90deg, #ffffff 0%, #ffffff 82.5%, $primary-light 82.5%, $primary-light 100%);
}

.has-deco {
  background: linear-gradient(currentColor 0 0) 0 100% / var(--d, 0) 1px
    no-repeat;
  transition: 0.5s;
  &:hover {
    --d: 100%;
  }
}

//#endregion

//#region medium screens
@media (max-width: $medium) {
}
//#endregion

//#region Tablet
@media (max-width: $tablet) {
}
//#endregion
